.bg {
    cursor: pointer;
    transition: 0.9s;
    color: black;
    overflow: hidden;
}

.bg:hover {
    background-color: #526c3c;
    color: white;
}

.bg:hover .img {
    transform: scale(1.5);
    transition: 0.5s;
}






.imgcont {
    display: flex;
}

.imgcont:hover  .img {
    transform: scale(0.25) translate(-100%, -100%);
    transition: 1.5s;
}
.img {
    transition: 1.5s;
}

.imgcont:hover .imghide {
    height: 60%;
    transition: 0.8s;
}
.imghide {
    position: absolute;
    bottom: 0;
    height: 0px;
    background-color: rgba(1,1,1,0.3);
    right: 0;
    left: 0;
    color: white;
    overflow: hidden;
    transition: 0.8s;
}