@media screen and (min-width: 992px) {
    
    .drop ul {
        padding: 0;
    }
    .drop {
        position: absolute;
        top:40px;
        background-color: hsl(93, 25%, 24%); 
        height: 0px;
        transition: 0.5s;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        width: 250px;

    }
    
    #droptr:hover .drop {
        height: 300px;
        transition: 0.5s;
        

    }
    .drop li {
        padding: 6px 10px;
    }
}

.drop {
    height:0px;
    overflow: hidden;
    transition: 0.5s;
}
#droptr:hover .drop {
    height: 260px;
    transition: 0.5s;
}