@media screen and (min-width: 992px) {
    
    .drop ul {
        width: 100%;
        padding: 0;
    }
    #droptr:hover .drop {
        position: absolute;
        top:30px;
        right: 0;
        width: 200px;
        text-align: center;
        background-color: #3c4d2e; 
        display: block;
        z-index: 1;
        padding-top: 28px;

    }
    .drop li {
        padding: 6px 10px;
    }
    .drop ul {

    }
    .drop li{
    }
}
.drop a {
    padding: 10px auto;
}

#droptr:hover .drop {
    width: 200px;
    display: block;
}

.drop {
    display: none;
}
